<div>
    <i class="bi bi-book-half"></i>
    <h1>
        <strong>book</strong>
        <span>store</span>
    </h1>
</div>
<nav class="container">
    <ul>
        <li>
            <a href="">Home</a>
        </li>
        <li>
            <a href="">Cadastrar Livros</a>
        </li>
    </ul>
    <input type="checkbox" id="check" hidden>
    <div class="search">
        <form method="get">
            <input type="text" placeholder="faça sua pesquisa" class="search">
            <button type="submit" class="btn">Buscar</button>
            <label for="check" class="btn">
                <i class="bi bi-x-lg"></i>
            </label>
        </form>
    </div>
    <label for="check" class="overlay"></label>
    <label for="check">
        <i class="bi bi-search"></i>
    </label>
</nav>