<div>
    <i class="bi bi-book-half"></i>
    <h1>
        <strong>Library</strong>
        <span>Manager</span>
    </h1>
</div>
<nav class="container">
    <ul>
        {% if user.is_authenticated %}
            {% include "base/partials/login.html" %}
        {% else %}
            {% include "base/partials/logout.html" %}
        {% endif %}
    </ul>
    <input type="checkbox" id="check" hidden>
    <div class="search">
        <form method="get" action="{% url "search" %}">
            <input type="text" name="q" placeholder="faça sua pesquisa" class="search">
            <button type="submit" class="btn">Buscar</button>
            <label for="check" class="btn">
                <i class="bi bi-x-lg"></i>
            </label>
        </form>
    </div>
    <label for="check" class="overlay"></label>
    <label for="check">
        <i class="bi bi-search"></i>
    </label>
</nav>