<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {% include "base/partials/head_config.html" %}
    <title>{% block head_title %}{% endblock head_title %}</title>
</head>
<body>
    <header>
        <div>
            <i class="bi bi-book-half"></i>
            <h1>
                <strong>book</strong>
                <span>store</span>
            </h1>
        </div>
        <nav class="container">
            <ul>
                <li>
                    <a href="">Home</a>
                </li>
                <li>
                    <a href="">Cadastrar Livros</a>
                </li>
            </ul>
            <input type="checkbox" id="check" hidden>
            <input type="text" placeholder="faça sua pesquisa" class="search">
            <label for="check" class="overlay"></label>
            <label for="check">
                <i class="bi bi-search"></i>
            </label>
        </nav>
    </header>
    <main>
        {% block main_content %}{% endblock main_content %}
    </main>
    <footer></footer>
</body>
</html>